/* Variables */
:root {
  /* Colors */
  --white: #fff;
  --blue_200: #5c9ce6;
  --gray: #333333;
  --steel-gray: #F7F8FA;
  --for-border: #D3D9DE;
  --button_primary_background: #4986cc;
  --button_primary_foreground: #ffffff;
  --accent: #3f8ae0;
  --hover-border: rgba(0, 0, 0, 0.24);
  --text_primary: #000000;

  /* Media-queries */
  --mobile-width: 320px;
  --mobile-width-only: 767px;
  --tablet-width: 768px;
  --tablet-width-max: 1023px;
  --desktop-width: 1024px;

  /*  Fonts */
  --font-common: 'Roboto', Arial, sans-serif;
  --font-tt: 'Roboto', Arial, sans-serif;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2'),
  url('../fonts/Roboto-Regular.woff');
  font-weight: 400;
  font-style: normal;

}@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2'),
  url('../fonts/Roboto-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}



/* Global */
body {
  box-sizing: border-box;
  width: 100%;
  min-width: var(--mobile-width);
  margin: 0;
  padding: 0;
  font-family: var(--font-common);
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: var(--gray);
  background-color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 288px;
  padding: 0 16px;
}

@media (min-width: var(--tablet-width)) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: var(--desktop-width)) {
  .container {
    margin: 0 auto;
    max-width: 1220px;
  }
}


/* Demo */
.demo__title {
  margin: 25px 0;
  padding-left: 16px;
  padding-right: 16px;
  font-family: var(--font-tt);
  font-size: 28px;
}


/* Form*/
.form {
  display: grid;
  grid-template-columns: 1fr;
}

.form__title {
  margin: 0;
  margin-bottom: 12px;
  padding-top: 13px;
  padding-bottom: 13px;

  font-size: 23px;
  line-height: 28px;

  border-bottom: 1px solid var(--for-border);
  font-weight: 800;
}


.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__legend {
  padding-top: 12px;
  padding-bottom: 8px;
  font-size: 14px;
  line-height: 18px;
  font-family: var(--font-common);
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.form__item {
  position: relative;

  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
}


.form__item--checkbox {
  flex-direction: row;
}


.form__item--radio {
  flex-direction: row;
}


.form__label {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 18px;
}

.form__label--checkbox {
  order: 1;
}


.form__label--radio {
  order: 1;
}


.form__control {
  box-sizing: border-box;
  padding: 9px 12px;

  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;

  background-color: var(--steel-gray);
  border: 1px solid var(--for-border);
  border-radius: 6px;
}

.form__control:focus {
  border-color: var(--accent);
  outline: none;
}


.form__control:hover {
  border-color: var(--hover-border);
}


.form__control--checkbox {
  margin-right: 14px;
  order: -1;
}


.form__control--radio {
  margin-right: 14px;
  order: -1;
}


.form__button-submit {
  margin-top: 12px;
  margin-bottom: 12px;
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: inherit;
  min-height: 30px;
  color: var(--button_primary_foreground);
  background-color: var(--button_primary_background);
  border: 1px solid transparent;
  border-radius: 8px;
}


/* Гибридный селект */
.form__select-native,
.form__select-custom {
  position: relative;
  box-sizing: border-box;

  width: 100%;
  min-height: 40px;
}


.form__select-custom {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}


@media (hover: hover) {
  .form__select-custom {
    display: block;
  }

  .form__select-native:focus + .form__select-custom {
    display: none;
  }
}


.form__select-native:focus,
.form__select-custom.isActive .orm__select-custom--trigger {
  outline: none;
  border-color: var(--accent);
}


.form__select {
  position: relative;
}


.form__label--select {
  display: block;
}


.form__select-wrapper {
  position: relative;
}


.form__select-native,
.form__select-custom--trigger {
  padding: 9px 12px;

  font-style: normal;
  font-family: var(--font-common);
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;

  background-color: var(--steel-gray);
  border: 1px solid var(--for-border);
  border-radius: 6px;
}


.form__select-native {
  padding: 9px 12px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cpath d="M0 0h24v24H0z"%3E%3C/path%3E%3Cpath d="M12 14.198L6.64 9.732a1 1 0 10-1.28 1.536l6 5a1 1 0 001.28 0l6-5a1 1 0 10-1.28-1.536L12 14.198z" fill="rgba(0, 0, 0, 0.36" fill-rule="nonzero"%3E%3C/path%3E%3C/g%3E%3C/svg%3E');
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
  background-position-y: 7px;

  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/**/
.form__select-custom--trigger {
  box-sizing: border-box;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: var(--steel-gray);
  padding: 9px 12px;
  cursor: pointer;
  z-index: 2;
}


.form__select-custom--trigger::after {
  position: absolute;
  content: '';
  top: 7px;
  left: calc(100% - 24px - 10px);
  width: 24px;
  height: 24px;

  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cpath d="M0 0h24v24H0z"%3E%3C/path%3E%3Cpath d="M12 14.198L6.64 9.732a1 1 0 10-1.28 1.536l6 5a1 1 0 001.28 0l6-5a1 1 0 10-1.28-1.536L12 14.198z" fill="rgba(0, 0, 0, 0.36" fill-rule="nonzero"%3E%3C/path%3E%3C/g%3E%3C/svg%3E');

}


.form__select-custom--trigger:hover {
  border-color: var(--accent);
}


.selectCustom-options {
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  border: 1px solid var(--steel-gray);
  border-radius: 0 6px;
  background-color: #fff;
  z-index: 1;
  padding: 5px 0;
  display: none;

  overflow: hidden auto;
  height: 150px;
}


.form__select-custom.isActive .selectCustom-options {
  display: block;
}


.selectCustom-option {
  position: relative;
  padding: 0.8rem;
  padding-left: 2.5rem;
}


.selectCustom-option.isHover, .selectCustom-option:hover {
  background-color: var(--steel-gray);
  color: var(--text_primary);
  cursor: default;
}

.selectCustom-option:not(:last-of-type)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.selectCustom-option.isActive::before {
  content: "✓";
  position: absolute;
  left: 0.8rem;
}
