/* Variables */
:root {
  /* Colors */
  --gray: #333333;
  --background_page: #ebedf0;

  /*  Fonts */
  --font-common: 'Roboto', Arial, sans-serif;
  --font-tt: 'Roboto', Arial, sans-serif;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2'),
  url('../fonts/Roboto-Regular.woff');
  font-weight: 400;
  font-style: normal;

}@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2'),
  url('../fonts/Roboto-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}



/* Global */
body {
  display: grid;
  background-color: var(--background_page);
  box-sizing: border-box;
  width: 100%;
  min-width: var(--mobile-width);
  margin: 0;
  padding: 0;
  font-family: var(--font-common);
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: var(--gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Demo */
.demo__title {
  margin: 0;
  padding: 25px 16px;
  font-family: var(--font-tt);
  font-size: 28px;
}

@media (min-width: 768px) {
  .demo__title {
    padding: 25px 40px;
  }
}
